/*!
 * Start Bootstrap - Heroic Features (https://startbootstrap.com/template-overviews/heroic-features)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-heroic-features/blob/master/LICENSE)
 */
/* body {
  padding-top: 56px;
} */

#carouselExampleIndicators {
  margin-bottom: 20px;
}

#top-card {
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.mx-auto {
  height: 185px;
}

.tooltip-title {
  width: 380px;
}